header{
    font-weight: bold;
    padding: 1vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.span{
    width: 100%;
    height: 1vw;
    background-color: #B9BFDB;
}

.container-hheader{
    width: 55%;
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    padding-bottom: 2vw;
}

.h1{
    color: #F1CC77;
    font-size: 2vw;
}

h2{
    color: #3E3F95;
    font-size: 2vw;
}

.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1vw;
    padding-left: 10vw;
    padding-right: 2vw;
}

p{
    font-size: 3.5vw;
    padding-bottom: 5vw;
    text-align: justify;
}

.info{
    color: black;
    padding-bottom: 5vw;
}


@media (max-width: 600px){
    .container-hheader{
        font-size: 8vw;
        width: 85%;
    }

    .h1{
        font-size: 5vw;
    }

    h2{
        font-size: 5vw;
    }

    p{
        font-size: 7vw;
        padding-bottom: 10vw;
    }

    .section{
        padding-left: 0px;
    }

    .info{
        font-size: 3vw;
    }
}