.container-footer{
    background-color: #ACB4D6;
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
}

.Footer{
    background-color: #ACB4D6;
    max-width: 100vw;
}

.escudo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagen{
    min-width: 1rem;
    width: 7vw;
}

.Scol{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-contenedor{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactanos{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    font-weight: bold;
}

.contactos{
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
}

.lema{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7vw;
    font-weight: 400;
}

.mapa{
    width: auto;
    display: flex;
    flex-grow: 1;
}

.numero{
    display: flex;
    justify-content: flex-start;
    height: 33.3%;
    align-items: center;
    font-size: 1.5vw;
    gap: .5rem;
    font-weight: bold;
}

.correo{
    display: flex;
    justify-content: flex-start;
    height: 33.3%;
    align-items: center;
    font-size: 1.5vw;
    gap: .5rem;
    font-weight: bold;
}

.ubicacion{
    display: flex;
    justify-content: flex-start;
    height: 33.3%;
    align-items: center;
    font-size: 1.5vw;
    gap: .5rem;
    font-weight: bold;
}

h1{
    font-weight: bold;
}



.icono{
    width: 5vw; 
}

.container-mapa{
    width: 90%;
    height: 90%;
}
