.Header{
    display: flex;
    align-items: center;
}


.container-header{
    display: flex;
    width: 100%;
    height: 95%;
}

.NombreColegio{
    display: flex;
    justify-content: center;
    color:white;
    min-width: 7rem;
    width: 10vw;
    font-size: 100%;
}

.contenedor-letras{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    white-space: nowrap;
    height: 100%;
}


span{
    display: flex;
    justify-content: center;
    padding-right: 0;
    line-height: clamp(1.5rem, 2.2vw, 2.2vw) ;
}

.TextoMedio{
    font-size: clamp(1.5rem, 2.2vw, 2.2vw) ;
}

.Texto{
    font-size: clamp(1.3rem, 2vw, 2vw);
}

.Lema-Años{
    display: flex;
    flex-basis: 0;
    flex-grow: 1000;
}

.Escudo{
    display: flex;
    min-width: 7rem;
    width: 10vw;
}