main{
    width: 100%;
    display: flex;
    flex-direction: column;
    .Título{
        display: flex;
        width: 100%;
        height: 8vw;
        justify-content: center;
        padding-top: 1rem;
        color: #F1CC77;
        font-size: 4vw;
    }
}

.grid-template{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto; 
    grid-template-areas: 
    "Bandera  Bandera"
    "Escudo   Himno";

}


.BanderaS{
    grid-area: Bandera;
}

.EscudoS{
    grid-area: Escudo;
    padding: 1vw;
}

.HimnoS{
    grid-area: Himno;
}

.art-bandera{
    display: block;
    width: 80%;
    height: 100%;
    background-color: #E1E1FF;
    border-radius: 20px;

    header{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;

        h2{
            color: #E3B76B;
            font-weight: bold;
            font-size: 150%;
        }
    }

    p{
        padding: 1vw;
        font-size: 1.7vw;
        text-align: justify;
    }
}




.art-himno{
    display: block;
    width: 100%;
    height: auto;
    background-color: #EDF0FF;
    border-radius: 20px;

    header{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;

        h2{
            color: #E3B76B;
            font-weight: bold;
            font-size: 150%;
        }
    }

    p{
        width: 100%;
        text-align: justify;
        display: flex;
        justify-content: center;
        padding: 1vw;
        font-size: 1vw;
        font-weight: bold;
    }
}

.art-escudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    header{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;

        h2{
            color: #E3B76B;
            font-weight: bold;
            font-size: 150%;
        }
    }

    p{
        font-size: 1.7vw;
        text-align: justify;
    }

    h3{
        font-size: 2vw;
        border: 1rem solid #4142C6;
        padding: 1rem;
    }
}

.Eescudo{
    width: 15vw;
    padding: 1rem;
}