


  .pause {
    animation-play-state: paused;
  }

.btn{
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.contenedor-boton{
  display: flex;
  cursor: pointer;
  width: 3vw;
  height: 5vw; 
  justify-content: center;
  align-items: center;
  padding: .2vw;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  user-select: none;
}


.IconoMenu{
  animation: AnimacionIcono 2s infinite;
}

@keyframes AnimacionIcono{
  0%, 20%{
    transform: translateX(0%);
  }

  50%{
    transform: translateX(20%);
  }

  100%{
    transform: translateX(0%);
  }
}

@media (max-width: 600px){
  .IconoNM{
    
    transition: all 0.3s ease;
  }
}