.container-footer{
    background-color: #acb4d6;
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
}

.Footer{
    background-color: #ACB4D6;
    width: 100%;
}

.escudo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagen{
    min-width: 2rem;
    width: 7vw;
}

.Scol{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.mapa-contenedor{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.contactanos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: calc(1rem + 2vw);
    font-weight: bold;
}

.contactos{
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

.lema{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 1vw;
    padding-top: 0;
}

.paralema{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mapa{
    width: auto;
    display: flex;
    flex-grow: 1;
}

.numero{
    display: flex;
    height: 33.3%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(1rem + 1vw);
    padding: 1rem;
    gap: .5rem;
    font-weight: bold;
}

.correo{
    display: flex;
    justify-content: flex-start;
    height: 33.3%;
    width: 100%;
    white-space: normal;
    align-items: center;
    font-size: 1.8vw;
    padding: 1rem;
    gap: .5rem;
    font-weight: bold;
}

.ubicacion{
    display: flex;
    justify-content: flex-start;
    height: 33.3%;
    width: 100%;
    align-items: center;
    font-size: calc(1rem + 1vw);
    padding: 1rem;
    gap: .5rem;
    font-weight: bold;
}

h1{
    font-weight: bold;
    justify-content: flex-start;
}

.columns{
    display: flex;
    width: 100%;
    height: 90%;
}


.icono{
    width: 5vw; 
}

.container-mapa{
    width: 95%;
    height: 85%;
    display: flex;
    justify-content: flex-end;

}

.cel{
    display: none;
}


.mapa-contenedor .redes svg{
    width: 5vw;
    height: 5vh;
}

.mapa-contenedor .redes{
    display: flex;
    gap: 2vw;
    margin-top: 2vh;
}


@media (max-width: 600px){
    .Footer{
        height: 100%;
    }
    .columns{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Scol{
        flex-grow: 0;
        width: 100%;
        justify-content: flex-start;
    }

    .contactanos{
        justify-content: center;
        gap: 5vw;
        padding: .5rem;
    }

    .contactanos h1{
        text-align: center;
        display: flex;
        align-items: center;
    }

    .mapa-contenedor{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .container-mapa{
        display: flex;
        height: 32vh;
        width: 50vh;
        justify-content: center;

        padding: 1rem;
    }

    .escudo{
        display: none;
    }

    .lema{
        font-size: 3vw;
        display: flex;
        justify-content: flex-end;
    }
    
    .cel{
        display: flex;
    }

    .correo{
        font-size: calc(.7rem + 1vw);
    }
}