@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100vh;
    transition: all 300ms ease;
    z-index: 10;
}


.cont-linea{
  display: flex;
  justify-content: center;
}


  @media (max-width: 600px){

        .linea{
           display: flex;
           height: 2px;
           background-color: white;
           margin-top: .5rem;
           width: 70%;
         }

        ul{
          width: 100vw;
          z-index: 10;
        }

        li{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 1.5vh;
          padding-bottom: 1.5vh;
          color: white;
          font-weight: bold;
          font-size: 100%;
        }

        li div{
          text-align: left;
      }
      
      li:hover{
          background-color: #00316B;
        }
    
        li:hover .submenu{
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      
        .submenu{
          flex-direction: column;
          justify-content: center;
          background-color: #00316B;
          display: none;
        }
      
        .submenu li{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        

  }

  



@media(min-width: 601px) {

  .linea{
    display: none;
  }

  ul{
    position: relative;
    transition: all 300ms ease;
    transform: translateX(-100%);
    width: 10rem;
    min-width: 10rem;
    z-index: 10;
  }

  .submenu{
    position: absolute;
    left: 200%;
    top: 0;
  }

  .centrado .submenu{
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  li{
    display: flex;  
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    color: white;
    font-weight: bold;
    font-size: 100%;
    position: relative;
  }
  
  
  li div{
      text-align: left;
  }
  
  li:hover{
      background-color: #00316B;
    }

    li:hover .submenu{
      display: block;
      justify-content: center;
    }
  
    .submenu{
      flex-direction: column;
      justify-content: center;
      background-color: #023E87;
      display: none;
    }
  
    .submenu li{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
}
