*{
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.grid-container{
    display: grid;
    grid-template:
    "header header" 15vh
    "section section"  auto
    "footer footer" 30vh/
    auto   auto;
}

.Header{
    position: fixed;
    z-index: 10;
    grid-area: header;
    width: 100%;
    min-height: 5rem;
    height: 15vh;
    background-color: #023E87;
}

.Nav{
    position: fixed;
    z-index: 5;
    padding-top: 15vh;
}

.Section{
    grid-area: section;
    background-color: blueviolet;
}

.Footer{
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0);
}

@media (max-width: 600px){
    
    .Nav{
        z-index: 11;
        padding-top: 0;
    }

}