container-slider{
    border: 1px solid black;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #B9BFDB;
}


button{
    width: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    row-gap: 1rem;
}

.sliderImg{
    width: 100vw;
    height: 40vh;
    opacity: 0;
    transition: 3s;
    background-color: #B9BFDB;
}

.cargado{
    opacity: 1;
}

.container-circulos{
    width: 12rem;
    height: 2rem;
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}


.circulo{
    background-color: white;
    border-radius: 50%;
    width: 25%;
    height: 80%;
}

.container-Sslider{
    background-color: #B9BFDB;
    width: 100%;
    height: 40vh;
}

.container-video{
    display: flex;
    justify-content: center;
}