*{
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    overflow-x: hidden;
}

.grid-container{
    display: grid;
    grid-template:
    "header header" 15vh
    "section section"  auto
    "footer footer" 65vh/
    auto    auto;
}

.Header{
    position: fixed;
    z-index: 10;
    grid-area: header;
    width: 100%;
    min-height: 7rem;
    height: 15vh;
    background-color: #023E87;
}

.Nav{
    position: fixed;
    z-index: 5;
    padding-top: 15vh;
}

.Section{
    grid-area: section;
}

.Footer{
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0);
    min-height: 500px;
}

.containerRedes{
    position: fixed;
    top: 25%;
    right: 0;
    width: 5rem;
    height: auto;
    background-color: #acb4d6;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.containerRedes .redes svg{
    width: 5vw;
    height: 5vh;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: .3vw;
    padding: 1vw;
}

@media (max-width: 600px){
    
    .Nav{
        z-index: 11;
        padding-top: 0;
        
    }

    .grid-container{
        display: grid;
        grid-template:
        "header header" 7rem
        "section section"  auto
        "footer footer" 100vh/
        auto    auto;
    }
}