.Hhheader{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-weight: bold;
        font-size: 5vw;
    }

    h2{
        color: #F1CC77;
        font-weight: bold;
        font-size: 1.5vw;
    }

    section{

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1vw;
        row-gap: 1rem;

        h2{
            color: black;
        }

        .container-tarjeta{
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                display: flex;
                justify-content: center;
                
                text-align: center;
            }

            .nombre{
                color: #034684;
                font-weight: bold;
                text-align: center;
            }

            .fotopersona{
                width: 15vw;
                display: flex;
                justify-content: center;
                border-radius: 50%;

                border: 2px #034684 solid;
                padding: 2px;
            }
        }

       
    }

    article{

        margin: 1rem;

        h2{
            font-weight: bold;
            font-size: 3vw;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        p{
            font-weight: 600;
            font-size: 2vw;
            text-align: justify;

            .paragraph{
                display: flex;
                gap: 1rem;
            }
        }


        .spaaan{
            color: #F1CC77;
        }
    }
}

@media (max-width: 600px){
    
    .Hhheader{

        margin: 1rem;

        h1{
            font-size: 8vw;
        }

        h2{
            font-size: 3vw;
        }

        section{
            h2{
                font-size: 3vw;
                display: flex;
                justify-content: center;
            }
        }

        article{
            h2{
                font-size: 5vw;
            }

            p{
                font-size: 5vw;
            }
        }
    }

}